<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whatDoesThisDo</key>
	<integer>0</integer>
	<key>Beginner</key>
	<integer>0</integer>
	<key>Moderate</key>
	<integer>0</integer>
	<key>Advanced</key>
	<integer>0</integer>
	<key>Pro</key>
	<real>0</real>
	<key>Legendary</key>
	<integer>0</integer>
	<key>Clueless</key>
	<integer>0</integer>
</dict>
</plist>
