<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   	<key>whatDoesThisDo</key>
    <false/> 
    <key>Beginner</key>
    <false/> 
    <key>Moderate</key>
    <false/> 
    <key>Advanced</key>
    <false/> 
    <key>Pro</key>
    <false/> 
    <key>Legendary</key>
    <false/> 
    <key>Clueless</key>
    <false/> 
    <key>Stoic</key>
    <false/> 
    <key>EarthBound</key>
    <false/> 
    <key>Smores</key>
    <false/> 
    <key>Singed</key>
    <false/> 
    <key>Pyromaniac</key>
    <false/> 
    <key>Squashed</key>
    <false/> 
    <key>Flattened</key>
    <false/> 
    <key>Pancaked</key>
    <false/> 
    <key>BlockHugger</key>
    <false/> 
    <key>Ninja</key>
    <false/> 
    <key>Jackpot</key>
    <false/> 
    <key>AFK</key>
    <false/> 
    <key>TestRun</key>
    <false/> 
    <key>Interested</key>
    <false/> 
    <key>Dedicated</key>
    <false/>  
    <key>Committed</key>
    <false/>  
    <key>Student</key>
    <false/> 
    <key>ThirtyLives</key>
    <false/> 
    <key>Gifted</key>
    <false/> 
    <key>Blessed</key>
    <false/> 
    <key>Powered</key>
    <false/> 
    <key>Collector</key>
    <false/> 
    <key>Eclectic</key>
    <false/> 
    <key>Izanagi</key>
    <false/> 
    <key>AntMan</key>
    <false/> 
    <key>DayBreak</key>
    <false/> 
    <key>Jumper</key>
    <false/> 
    <key>Octane</key>
    <false/> 
    <key>TimeWarp</key>
    <false/> 
</dict>
</plist>
